.bar-chart {
    width: 100%;
}

.linechart-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.linechart-background {
    background-color: var(--BackgroundColour);
    flex-grow: 1;
    width: var(--Dimension);
    height: var(--Thickness);
    position: relative;
}

.linechart-foreground {
    height: var(--Thickness);
    position: absolute;
    top: 0;
    left: 0;
}

.linechart-labels {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.linechart-quantity {
    width: auto;
    flex-shrink: 0;
    text-align: left;
    margin-right: 5px;
}

.linechart-name {
    flex-grow: 1;
    padding-right: 10px;
    text-align: right;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}