.column-chart {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.columnchart-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%; 
    width: var(--Thickness);
}

.columnchart-background {
    background-color: var(--BackgroundColour);
    flex-grow: 1;
    width: 100%;
    height: var(--Dimension);
    position: relative;
}

.columnchart-foreground {
    height: var(--Dimension);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.columnchart-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.columnchart-name, .columnchart-quantity {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.columnchart-name {
    margin-top: 5px; 
}
