.column-chart {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.columnchart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: var(--Thickness);
}

.columnchart-background {
    background-color: var(--BackgroundColour);
    flex-grow: 1;
    width: 100%;
    height: var(--Dimension);
    position: relative;
}

.columnchart-foreground {
    height: var(--Dimension);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.primary-bar {
    z-index: 1;
}

.secondary-bar {
    z-index: 2;    
}

.percentage-point {
    position: absolute;
    width: 100%;
    text-align: center;
}

.percentage-label {
    background: white;
    border: 1px solid blue;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    color: blue;
}

.percentage-line {
    z-index: 3;
}

.columnchart-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.columnchart-quantity {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.columnchart-name {
    margin-top: 5px;
}
