.pie {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--pie-width);
    max-height: calc(var(--pie-height)*1.5);
}

    .pie .pie-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }

        .pie .pie-container .pie-chart {
            max-width: 100%;
            height: auto;
            overflow: visible;
            filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
            width: var(--pie-width);
            height: var(--pie-height);
        }

            .pie .pie-container .pie-chart path {
                transition: transform 0.3s ease-out;
                transform-origin: center;
            }

                .pie .pie-container .pie-chart path:hover {
                    filter: brightness(70%);
                    cursor: pointer;
                }

        .pie .pie-container .pie-label,
        .pie .pie-container .pie-label-show {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 5px;
            pointer-events: none;
            z-index: 10;
            font-size: 12px;
            user-select: none;
        }

        .pie .pie-container .pie-label {
            transition: opacity 0.3s;
        }


    .pie .legend {
        margin: 1rem;
        list-style-type: none;
        max-height: calc(var(--pie-height)* 1.25);
        overflow: hidden;
        overflow-y: auto;
    }

        .pie .legend .title {
            font-style: oblique;
            margin: 2px;
            text-align: center;
        }

        .pie .legend .label {
            list-style-type: none;
            padding: 0.15rem 0.75rem;
        }

            .pie .legend .label:hover {
                filter: brightness(70%);
                cursor: pointer;
            }
